<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnakeEye">

        <!-- Splash Activity as Launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SnakeEye">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding Activity -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SnakeEye" />

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".BaseNavigationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SafetyTipsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Other activities -->
        <activity android:name=".MainActivity" />


    </application>

</manifest>